.sidebar{
    position: fixed;
    top: 3.1rem;
    left: 0;
    width: 12.5rem;
    height: calc(100vh - 3.2rem);
    background-color: white;
    color: #fff;
    padding-top: 1.2rem;
    box-shadow:0 2px 4px rgba(0, 0, 0, 0.3) ;
}
nav ul{
    list-style: none;
    padding: 0;
    margin-left: 1.2rem;
}

nav ul li{
    margin: 0.6rem 0;
    padding: 0.625rem;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 1rem;
    display: flex;
    align-items: center;
    cursor: pointer;

}
nav ul li a .side-icons{
   font-size: 1.1rem;
   margin-right: 0.8rem;
   margin-left: 0.8rem;
}

nav ul li .list{
    cursor: pointer;
    list-style: circle;
    color: #000000;
    font-size: 0.8rem;
}

nav ul li .list:hover{
    background: lightblue;
    transform: translateX(4px);
    border-radius: 10px;
    transition: background 2s ease-in-out;
}

#setting{
    margin-top: 2rem;
}
.section{
    margin-top: 1.1rem;
}

.section p{
    font-weight: 700;
    color: #000000;
   margin: 1rem 0 0.3rem;
}

nav ul li a:hover{
    background: lightblue;
    transform: translateX(4px);
    border-radius: 10px;
    transition: background 2s ease-in-out;
}
.underline{
    background: #000000;
    height: 0.2rem;
    width: 65%;
    margin: 0 1.5rem;
    border-radius: 1.5rem;
    margin-top: 1rem;
}

.main-content{
    
    margin-left: 12.5rem; 
    margin-top: 3.99rem;
    height: calc(100vh - 64px); 
    padding: 1rem;
    position: relative;
    overflow-y: auto; 
    z-index: 2;
}
.opacity1{
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}
.opacity0{
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.class-box{
    width: 15rem;
    margin: 0.625rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    overflow: auto;
    display: inline-block;
    z-index: 200;
}

.class-header{
    padding: 1rem;
    background: url("../assets/Images/background class.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.class-body{
    height: 9.375rem;
    padding: 1rem;
    background-color: #fff;
}

.class-footer{
    display: flex;
    justify-content: space-around;
    padding: 0.625rem;
    background-color: #f8f8f8;
}

.footer-icon{
    font-size: 1.5rem;
    color: #555;
    cursor: pointer;
}

.footer-icon:hover{
    font-size: 1.6rem;
    transition: font-size 0.3s ease-in-out;
}

.classdetail{
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vh - 64px); 
    padding: 1rem;
    background-color: white; 
    z-index: -1; 
    display: none;
    overflow-y: auto ;
    
}


.visible{
    display: block;
    z-index: 5;
}
.header {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    width: 100%;
}

.back{
    display: flex;
    justify-content: flex-end;
    font-size: 1.3rem;
    cursor: pointer;
}


.assignment-container{
    padding: 1.1rem;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin: 1rem 0;
    box-sizing: border-box;
    max-width: 100%;
    overflow: hidden;
}

.assignment-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #ddd;
    padding-bottom: 0.8rem;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}

.assignment-head h2{
    font-size: 1.5rem;
    font-weight: 700;
    color: #333;
}

.assignment{
    margin: 1.1rem 0;
}

.title-input, .des-input{
  display: block;
  width: 100%;
  margin: 0.625rem 0;
  padding: 0.625rem;
  border: 1px solid #ddd;
  border: 4px;
  box-sizing: border-box;
}

.assignment-detail{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    margin: 1rem 0;
    flex-wrap: wrap;
}

.assignment-detail label{
    font-size: 0.9rem;
    color: #333;
    flex: 1;
    min-width: 150px;
}

.assignment-detail input[type="date"],.assignment-detail input[type="time"]{
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
    max-width: 200px;
}

.assign-btn{
    margin-top: 1.1rem;
    padding: 0.625rem 1.1rem;
    background-color: #28a745;
    color: #ddd;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.assign-btn:hover{
    background-color: #218838;
}

.submission{
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.submission:hover{
    background-color: #0056b3;
}

.submission-container{
    padding: 1rem;
    margin: 0.625rem;
}

.submit-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.625rem;
    background: #f8f9fa;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.submit-content{
    margin: 1rem;
}

.submit-list{
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    position: relative;
    list-style-type: none;
    padding: 0;
}

.submit-item{
    display: grid;
    align-items: center;
    grid-template-columns: 1.5fr 2fr 1fr 0.8fr;
    background: #fff;
    padding: 0.625rem 0.9rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.submit-item:hover {
    background-color: #f1f1f1;
  }
  
.submit-student,.submit-title,.submit-status {
    font-size: 0.8rem;
    margin-right: 0.625rem;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.submit-btn{
    border: none;
    padding: 0.325rem 0.625rem;
    border-radius: 5px;
    cursor: pointer;
  }
  
.grade{
    background-color: #28a745;
    color: white;
  }
  
.grade:hover{
    background-color: #218838;
  }
.grade-container{
    background: #f9f9f9;
    width: 20rem;
    height: 18rem;
    position: absolute;
    top: 27%;
    left: 30%;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transform: translate(-10%,-10%);
    box-sizing: border-box;
    padding: 1rem;
    text-align: center;
}
.grade-container h4, .submit-container h4{
    font-size: 1.2rem;
    font-weight: 700;
    color: #333;
    margin-bottom: 1rem;
}
.grade-container label{
    display: block;
    font-size: 1rem;
    font-weight: 500;
    color: #555;
    margin-bottom: 0.5rem;
}
.grade-container input{
    width: calc(100%-2rem);
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #f5f5f5;
    font-size: 1rem;
    box-sizing: border-box;
}
.grade-container .grade-btn{
      display: inline-block;
      padding: 0.75rem 2rem;
      font-size: 0.8rem;
      font-weight: bold;
      margin-right: 0.2rem;
      background: #28a745;
      border: none;
      color: white;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease-in-out;
}
.grade-container .grade-btn:hover{
    background-color: #218838;
}

.submit-container{
    background: #f9f9f9;
    width: 20rem;
    height: 23rem;
    position: absolute;
    top: 20%;
    left: 30%;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transform: translate(-10%,-10%);
    box-sizing: border-box;
    padding: 1rem;
    text-align: center;
    
}
.submit-container label{
    display: block;
    font-size: 1.2rem;
    font-weight: 500;
    color: #555;
    margin-bottom: 2.5rem;
}
.submit-container input{
    width: 15rem;
    padding: 0.625rem;
    margin-bottom: 2rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #f5f5f5;
    font-size: 1rem;
    box-sizing: border-box;
}
.submit-container input[type="file"]{
    width: 15rem;
    padding: 0.625rem;
    margin-bottom: 0.625rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #f5f5f5;
    font-size: 1rem;
    box-sizing: border-box;
}
.submitbtn{
    display: inline-block;
    padding: 0.75rem 2rem;
    font-size: 0.8rem;
    font-weight: bold;
    margin-right: 0.2rem;
    background: #28a745;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.asubmission-container{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    background-color: #f9f9f9;
    padding: 1.1rem;
    border-radius: 8px;
    box-sizing: border-box;
}

.asubmit-header h3{
    font-size: 1.2rem;
    margin-bottom: 0.625rem;
    color: #333;
    text-align: center;
}

.asubmit-content{
    margin-top: 0.625rem;
}
.item-content {
    font-size: 1rem;
    margin: 0.2rem 1rem ;
  }
.asubmit-list{
    list-style: none;
    padding: 0;
    margin: 0;
}

.asubmit-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #fff;
    border-radius: 6px;
    padding: 1.1rem;
    margin-bottom: 0.625rem;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s;
}
.asub-list{
    list-style: none;
    padding: 0.625rem;
    margin-top: 0.625rem;
    width: 100%;
    border-radius: 6px;
    display: block;
    box-sizing: border-box;
}

.asub-item{
    display: grid;
    grid-template-columns: 1.5fr 2fr 1fr 0.8fr;
    align-items: flex-start;
    padding: 0.625rem;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 0.345rem;
    white-space: pre-wrap;
   text-overflow: ellipsis;
    box-sizing: border-box;
}
.asub-title{
    align-items: center;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    text-overflow: ellipsis;
}



.submit-file-link{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border: 1px solid #0f0f0f;
    border-radius: 5px;
    background-color: #333;
    font-weight: 500;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    transition:  color 1s,text-decoration 1s ease-in-out;
    margin-right: 1rem;
    padding: 0.1rem;
}
.submit-file-link:hover {
    color: white;
    text-decoration: underline;
}

.disabled{
    background-color: red;
    cursor: not-allowed;
    pointer-events: none;
}
.disabledg{
    cursor: not-allowed;
    pointer-events: none;
}

.btn-div{
    display: flex;
    gap: 0.3rem;
}